
  
.background-cuadrado{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 100vw;
    height: 100vw;
    background-color: gray;
    min-height: 100vh;
    }
    
.sombra{
 position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 100vw;
    height: 100vw;
    background-color: black;
    min-height: 100vh;
    opacity: 0.3;


}

    .cuadrado1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 100vh;
    height: 10vh;
    background-color: lightgray;
    opacity: 1;
    border: 1px solid lightgray;
    margin-top: -432px;
    }
    
    
   .imagenfondo3{
min-height: 100vh;
height: auto;


   }
    .cuadrado2{
position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 75rem;
    height: 22vh; 
    background-color: lightgray;
    opacity: 0.9;
    border: 1px solid lightgray;
background: none;
      border: none;
      box-shadow: none;
    
    }
    
    
 
    
    
    
    

   

    .cuadrado3{
position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 3rem;
    height: 5.5vh;
    background-color: black;
    opacity: 1;
background: none;
box-shadow: none;
border: none;
margin-top: -400px;
margin-left: -930px;

    }

    .imagenlogo{
margin-top: -200px;

width: 3rem;
height: 5.5vh;
    }
   
    
.terrasense{
font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        background-color: lightgray;
      font-size: 15px;
      color: black;
     background: none;
      border: none;
      box-shadow: none;
      white-space: nowrap;
      margin-left: 45px;
      margin-top: -38px;
      font-weight: 300;

}
    
    .cuadrado4{
position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 31.25rem;
    height: 5.5vh;
    background-color: black;
    opacity: 1;
background: none;
box-shadow: none;
border: none;
margin-left: -490px;
margin-top: -230px;



    }
   
    .ayuda{
font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        background-color: white;
      font-size: 70px;
      color: white;
     background: none;
      border: none;
      box-shadow: none;
      font-weight: bold;
      margin-top: 20px;
    font-weight: 600;
    
    }
    
.cuadrado45{
position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 27.5rem;
    height: 5.5vh;
    background-color: black;
    opacity: 1;
background: none;
box-shadow: none;
border: none;
margin-left: -520px;
margin-top: -110px;

}


.pregunta{
    font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        background-color: white;
      font-size: 19px;
      color: white;
     background: none;
      border: none;
      box-shadow: none;
      white-space: nowrap;
     
}


  .cuadrado5{
position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 27.5rem;
    height: 5.5vh;
    background-color: black;
    opacity: 1;
background: none;
box-shadow: none;
border: none;
margin-left: -520px;
margin-top: -60px;


  }
   
     .consulta{
font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        background-color: white;
      font-size: 19px;
      color: white;
     background: none;
      border: none;
      box-shadow: none;
    font-weight: bold;
      white-space: nowrap;

 
     }
    
   .cuadrado6{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 31.25rem;
    height: 6.667vh;
    background-color: black;
    margin-left: -495px;
    margin-top: 0px ;
    background: none;
    box-shadow: none;
    border: none;
   
    }

    .donde{
font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        background-color: white;
      font-size: 19px;
      color: white;
     background: none;
      border: none;
      box-shadow: none;
white-space: nowrap;
font-weight: bold;

    }

     button{
    color: white;
    background-color: #55a936;
    border: none;
    box-shadow: none;
    border-radius: 3px;
    white-space: nowrap;
    margin-left: -295px;
    margin-top: -10px;
    box-shadow: 0 0 0 10px #55a936;
    width: 7.5rem;
    height: 3.333vh;
    font-size: 17px;
    margin-left: -950px;

    }
    button:hover{
      filter: brightness(0.8);
    }


    .cuadrado7{
position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 6.25rem;
    height: 6.667vh;
    background-color: black;
    margin-left: 160px;
    margin-top: -413px ;
    background: none;
    box-shadow: none;
    border: none;
 


    }

    .boton{
color: black;
   background: none;
    border: none;
    box-shadow: none;
    white-space: nowrap;
    width: 7.5rem;
    height: 3.333vh;
    font-size: 17px;
    font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight:a weight;
        font-style: normal;
font-weight: bold;

    }

  .boton:hover{
text-decoration: underline;
text-decoration-color: #55a936;
text-underline-offset: 5px;
text-decoration-thickness: 3px;
    }
    

    .cuadrado8{
position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 6.25rem;
    height: 6.667vh;
    background-color: black;
    margin-left: 280px;
    margin-top: -413px ;
    background: none;
    box-shadow: none;
    border: none;

    }


    .boton1{
color: black;
   background: none;
    border: none;
    box-shadow: none;
    white-space: nowrap;
    width: 7.5rem;
    height: 3.333vh;
    font-size: 17px;
    font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
font-weight: bold;
border-bottom: 3px solid  green;
width: fit-content;

    }


    


    .cuadrado9{
position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 100px;
    height: 60px;
    background-color: black;
    margin-left: 350px;
    margin-top: -413px ;
    background: none;
    box-shadow: none;
    border: none;
    
    }

    .boton2{
color: black;
   background: none;
    border: none;
    box-shadow: none;
    white-space: nowrap;
    width: 120px;
    height: 30px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
font-weight: bold;

    }

    .boton2:hover{
text-decoration: underline;
text-decoration-color: #55a936;
text-underline-offset: 5px;
text-decoration-thickness: 3px;
    }

.cuadrado10{
position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 100px;
    height: 60px;
    background-color: black;
    margin-left: 1550px;
    margin-top: -413px ;
    background: none;
    box-shadow: none;
    border: none;
}

.boton3{
color: black;
background: none;
border: none;
box-shadow: none;
white-space: nowrap;
width: 120px;
height: 30px;
font-size: 17px;
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
}

.boton3:hover{
text-decoration: underline;
text-decoration-color: #55a936;
text-underline-offset: 5px;
text-decoration-thickness: 3px;
}


.cuadrado11{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 100px;
    height: 60px;
    background-color: black;
    margin-left: 1715px;
    margin-top: -413px ;
    background: none;
    box-shadow: none;
    border: none;


}

.boton4{
color: black;
background: none;
border: none;
box-shadow: none;
white-space: nowrap;
width: 120px;
height: 30px;
font-size: 17px;
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
}

.boton4:hover{
text-decoration: underline;
text-decoration-color: #55a936;
text-underline-offset: 5px;
text-decoration-thickness: 3px;
}

.cuadrado12{
position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 100px;
    height: 60px;
    background-color: black;
    margin-left: 890px;
    margin-top: -418px ;
    background: none;
    box-shadow: none;
    border: none;
}

.boton5{
     background: none;
  border: none;
  padding: 8px;
  margin: 0;
  cursor: default;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: none;
  box-shadow: none;
  border: none;
}

.iconousuario {
  width: 35px; 
  height: 35px; 
  color: #374151; 
  stroke-width: 1.5px;
}

.boton5:active{
transform: scale(0.95);
}
